<div class="card">
    <div class="card-header">
      <h2>{{pageTitle}}</h2>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/logo.jpg"
                class="img-responsive center-block"
                style="max-height:350px;padding-bottom:10px"/>
            </div>
            <div class="text-center">Developed By : </div>
            <div class="text-center">
                <h3>Aadil Umar</h3>
            </div>
            <div class="text-center">@aadilumar</div>
            <div class="text-center">
                <a href="#">www.************.com</a>
            </div>
        </div>
    </div>
</div>